version: '3.8'

services:
  github-telegram-bot:
    build: .
    container_name: github-telegram-bot
    restart: unless-stopped
    environment:
      - TZ=Europe/Moscow
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
